<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Dependecias funcionales</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/view.css' %}" media="all">
<script type="text/javascript" src="{% static 'polls/view.js' %}"></script>
<script type="text/javascript" src="{% static 'polls/jquery-3.2.1.min.js' %}"></script>

<script>
$(document).ready(function(){
	var  dFList = [];
	
	dFListStr = "";
	var  atributos = "";
	var  L = "";
	var validate = false;

    $("#agregar").click(function(){
      var  implicante="";
	  var  implicado="";
	  var  dFuncional = "";

	  implicante = $("#implicante").val();
	  implicado = $("#implicado").val();
	  
	  dFuncional =  "{\"x\": \""+implicante +  "\" , \"y\": \"" + implicado+"\"}";
	  dFList.push(dFuncional);

	  dFListStr = dFList.toString();

	  $("#implicante").val('');
	  $("#implicado").val('');
	  //alert(dFListStr);	  
	  L = $("#listDependence").val().trim().replace('{','').replace('}','');
	    if(L!=""){
			validate = true;
		}	
		if(validate){
			L = L +',';
		}		
        L = L + implicante+'->'+implicado;		
		
	  $("#listDependence").val('{'+L+'}');
   
    });
	
    $("#calcular").click(function(){
	
		  atributos = $("#atributos").val();
		  //alert("OK");
		  contruirJson();
		  $("#atributos").val();
		  document.getElementById("json_atributos").value = "{"+dFListStr+"}";
		  document.getElementById("form_27721").action="/polls/manual/";
		  document.getElementById("submit").click();
		  
	
	});
	
	function contruirJson(){

		dFListStr = "\"dFuncionales\" : " +"["+dFListStr	+"]"
		atributos = atributos.split("").toString();		
		//alert(dFListStr + " - " + atributos);

	};
	
});
</script>
   
</head>
<body id="main_body" >
	
	<img id="top" src="{% static 'polls/top.png' %}" alt="">
	<div id="form_container">
	
		<h1><a>Dependecias funcionales</a></h1>
		<form id="form_27721" class="appnitro" enctype="multipart/form-data" method="post" action="/polls/json/">
					<div class="form_description">
			<h2>Dependecias funcionales</h2>			
		</div>						
			<ul >
			
					<li id="li_1" >
		<label class="description" for="element_1">Alfabeto </label>
		<div>
			<input id="atributos" name="atributos" class="element text medium" type="text" maxlength="255" value=""/> 
		</div> 
		</li>		<li id="li_2" >
		<label class="description" for="element_2">Reglas </label>
		<div>
		  
			<label for="implicante">implicante</label>
			<input id="implicante" name="implicante" class="element text medium" type="text" maxlength="255" value=""/> 
			<label for="male">Implicado</label>
			<input id="implicado" name="implicado" class="element text medium" type="text" maxlength="255" value=""/> 

			<input id="agregar" class="button_text" type="button" name="agregar" value="Agregar" />
			<input type="hidden" id="json_atributos" name="json_atributos" value="ALGO" />
			<input id="calcular" class="button_text" type="button" name="calcular" value="Calcular" />

		</div>
		<div>
		<textarea id="listDependence" readonly ="true" name="message" rows="5" cols="50">
			
		</textarea>
		</div>

		</li>		<li class="section_break">
			<h3>O seleccione el archivo json</h3>
			<p></p>
		</li>		<li id="li_4" >
		<label class="description" for="element_4">Cargar json </label>
						<div>
							<input id="element_4" name="element_4" class="element file" type="file"/> 
						</div>
					</li>
					<li id="li_5" >
						<div>
							<input id="submit" class="button_text" type="submit" name="submit" value="Enviar" />
						</div>
					</li>
					<li class="buttons">
						<input type="hidden" name="form_id" value="27721" />
					</li>
				</ul>
			</form>	
			<div id="footer">
				Creado por Yeison Tafur, Ricardo Peñaloza, Ruben Cañon
				</br>
				Universidad Distrital Francisco Jose de Caldas
				</br>
				Bases de Datos
				</br>
				@2018
			</div>
		</div>
		<img id="bottom" src="{% static 'polls/bottom.png' %}" alt="">
	</body>
</html>