<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Dependecias funcionales</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/view.css' %}" media="all">
<link rel="stylesheet" type="text/css" href="{% static 'polls/styleDep.css' %}" media="all">
<script type="text/javascript" src="{% static 'polls/view.js' %}"></script>
<script type="text/javascript" src="{% static 'polls/jquery-3.2.1.min.js' %}"></script>
</head>
<body id="main_body" >
	
	<img id="top" src="{% static 'polls/top.png' %}" alt="">
	<div id="form_container">
	
		<h1><a>Dependecias Resultado</a></h1>
		<form id="form_27721" class="appnitro" enctype="multipart/form-data" method="post" action="/polls/json/">
					<div class="form_description">
			<h2>Dependecias Resultado</h2>			
		</div>		
		<li id="li_2" >

		<div><pre>
	{% if respuestas %}
		<ul style="margin: 0px; padding:0px">
		{% for respuesta in respuestas %}
			<div style="margin-top: -50px; padding:0px">{{ respuesta.titulo }}
				<div style="margin: 0px; padding:0px">
				{% for lista in respuesta.lista %}
					<div style="margin-top: -50px; margin-left:20px">{{ lista }}</div>
				{% endfor %}
				</div>
			</div>
		{% endfor %}
		</ul>
	{% else %}
		<p>No hay respuestas</p>
	{% endif %}
	</pre>
		</div>

		</li>		
		
			</form>	
			<div id="footer">
				Creado por Yeison Tafur, Ricardo Peñaloza, Ruben Cañon
				</br>
				Universidad Distrital Francisco Jose de Caldas
				</br>
				Bases de Datos
				</br>
				@2018
			</div>
		</div>






		<img id="bottom" src="{% static 'polls/bottom.png' %}" alt="">
	</body>
</html>